/* Font */
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(/Assets/picture/connection/picture_connection.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Raleway", serif;
  color: black;
  height: 100vh;
  box-sizing: border-box;
}

/*-----------------------Header-------------------------*/
.header_video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Nanum Myeongjo", serif;
  font-size: 3vw;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  font-size: 3vh;
  font-weight: 500;
}

a:hover {
  text-decoration: underline;
}

.black_logo {
  height: 50vh;
  width: 30vh;
  margin-bottom: 15vh;
}

header {
  position: relative;
  padding: 0 2rem;
}

.navbar {
  width: 100%;
  height: 60vh;
  max-width: 1200vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .links {
  display: flex;
  gap: 9rem;
  margin-bottom: 20vh;
}

.navbar .toggle_btn {
  color: black;
  font-size: 3vh;
  cursor: pointer;
  margin-bottom: 20vh;
  margin-right: 10vh;
  display: none;
}

/*dropdown Menu*/
.dropdown_menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 400px;
  width: 400px;
  height: 0;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
  height: 400px;
}

.dropdown_menu li {
  padding: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contanier_welcome {
  height: calc(100vh - 60vh);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.contanier_welcome h1 {
  font-size: 7rem;
  margin-bottom: 2rem;
}

.contanier_welcome p {
  font-size: 3rem;
}

/*-----------------------Header------------------------*/

/*-----------------------main--------------------------*/

main {
  flex: 1;
}

.appartement {
  position: absolute;
  top: 40%;
  width: 100%;
  backdrop-filter: blur(10px);
  color: black;
  padding-top: 300px;
  text-align: center;
}

.appartement h1 {
  margin-left: 130px;
}

.localisation {
  padding: 0px;
  margin-top: 20px;
  color: grey;
}

.chambre {
  position: absolute;
  bottom: 100px;
  padding: 0px;
  margin-top: 20px;
  color: rgb(2, 2, 78);
  background-color: #e4e4e4;
  width: 200px;
  height: 50px;
}

.superficie {
  position: absolute;
  bottom: 20px;
  padding: 0px;
  margin-top: 20px;
  color: rgb(2, 2, 78);
  background-color: #e4e4e4;
  width: 200px;
  height: 50px;
}

.cercle {
  padding: 0px;
  margin-top: 20px;
  margin-left: 400px;
  color: orange;
}

section h4 {
  margin-left: 40px;
  font-size: 30px;
  margin-top: 10px;
  padding: 0px;
  color: blue;
}

section p {
  font-size: 30px;
  line-height: 1.1;
  margin-left: 40px;
  padding: 80px;
}

form input {
  width: 15%;
  font-size: 30px;
  height: 70px;
  border: none;
  outline: none;
  text-align: center;
  border-bottom: 2px solid #e4e4e4;
}

form select {
  width: 18%;
  font-size: 30px;
  height: 70px;
  border: none;
  outline: none;
  text-align: center;
  border-bottom: 2px solid #e4e4e4;
  color: grey;
  margin-left: 20px;
}

form {
  padding: 80px;
}

form a {
  font-size: 30px;
  color: rgb(62, 62, 62);
  margin-left: 20px;
}

#map {
  height: 100%;
  flex: 1;
}

.container-colocation {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 10px;
  padding-top: 600px;
}

.appartements-colocation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  padding: 10px;
  background-color: azure;
}

.appartements-colocation article img {
  width: 100%;
}

.appartements-colocation article img:hover {
  opacity: 0.5;
}

.container-list {
  position: absolute;
  top: 2000px;
  left: 250px;
  border: 1px solid white;
  border-radius: 10px;
  width: 500px;
  height: 300px;
  background-color: white;
}

.container-list1 {
  position: absolute;
  top: 2000px;
  left: 1250px;
  border: 1px solid white;
  border-radius: 10px;
  width: 500px;
  height: 300px;
  background-color: white;
}

.container-list2 {
  position: absolute;
  top: 2920px;
  left: 250px;
  border: 1px solid white;
  border-radius: 10px;
  width: 500px;
  height: 300px;
  background-color: white;
}

.container-list3 {
  position: absolute;
  top: 3770px;
  left: 250px;
  border: 1px solid white;
  border-radius: 10px;
  width: 500px;
  height: 300px;
  background-color: white;
}

.container-list4 {
  position: absolute;
  top: 3770px;
  left: 1250px;
  border: 1px solid white;
  border-radius: 10px;
  width: 500px;
  height: 300px;
  background-color: white;
}

.container-list7 {
  position: absolute;
  top: 2900px;
  left: 1250px;
  border: 1px solid white;
  border-radius: 10px;
  width: 500px;
  height: 300px;
  background-color: white;
}

#appart3 {
  margin-top: 300px;
}

#appart4 {
  margin-top: 300px;
}

#appart5 {
  margin-top: 300px;
}

#appart6 {
  margin-top: 300px;
}

.leaflet-marker-icon {
  width: 50px !important;
  height: 50px !important;
  margin-left: -25px !important;
  margin-top: -50px !important;
}

.leaflet-popup {
  font-size: 20px;
  width: 400px;
  max-width: none !important;
}

.leaflet-popup-content {
  width: 100% !important;
  max-width: none !important;
}
/*------------------------main*-----------------------*/

/*-----------------------Footer-----------------------*/

footer {
  margin-top: 400px;
  margin-bottom: 0;
}

.footer_container {
  background-color: #05474e;
  height: 100px;
}

.end_footer {
  color: snow;
  margin: 0 auto;
  font-size: 40px;
  padding-top: 30px;
  text-align: center;
}

.footer_content {
  background-color: #02323a;
  height: 1800px;
}
.footer_mentions {
  display: flex;
  justify-content: space-around;
  color: snow;
  font-size: 40px;
  text-align: center;
  padding-top: 0px;
}

.footer_mentions :hover {
  text-decoration: underline;
}

.footer_info {
  display: flex;
  justify-content: space-around;
  padding-top: 200px;
}

.story {
  color: snow;
  font-size: 40px;
}

.about_us {
  margin-top: 40px;
  width: 500px;
  font-size: 30px;
  line-height: 1.3em;
  color: grey;
}

.about_us span:hover {
  text-decoration: underline;
}

.btn_footer {
  font-size: 30px;
  padding: 8px 14px;
  cursor: pointer;
  border: 2px solid #0f172a;
  box-shadow: 4px 4px 0 0 white, 6px 6px 0 0 #0f172a;
  transition-duration: 200ms;
}

.btn_footer:hover {
  background-color: #b48d5d;
  color: white;
  box-shadow: 9px 9px 0 0 white, 10px 10px 0 0 #0f172a;
  translate: -2px -2px;
}

.footer_logo {
  margin-left: 200px;
}

.footer_logo h2 {
  color: snow;
}

.footer_logo img {
  margin-top: 10px;
  width: 400px;
  height: 600px;
}

.fleche {
  width: 50px;
  height: 50px;
}

.sub_story {
  display: flex;
  margin-top: 30px;
}

.sub_story a {
  margin-top: 40px;
  margin-left: 20px;
  font-size: 30px;
  color: whitesmoke;
  line-height: 1.1em;
  text-decoration: none;
}
/*------------------------Footer-----------------------*/
/*------------------------About us-----------------------*/

/*------------------------Main-----------------------*/

/* Footer */

footer {
  margin-top: 200px;
}
.footer_container {
  background-color: #05474e;
  height: 100px;
}

.end_footer {
  padding-top: 30px;
  color: snow;
  margin: 0 auto;
  font-size: 40px;
  text-align: center;
}

.footer_content {
  background-color: #02323a;
  height: 1800px;
}
.footer_mentions {
  display: flex;
  justify-content: space-around;
  padding-top: 300px;
  color: snow;
  font-size: 40px;
  text-align: center;
}

.footer_mentions :hover {
  text-decoration: underline;
}

.footer_info {
  display: flex;
  justify-content: space-around;
  padding-top: 200px;
}

.story {
  color: snow;
  font-size: 40px;
}

.about_us {
  margin-top: 40px;
  width: 500px;
  font-size: 30px;
  line-height: 1.3em;
  color: grey;
}

.about_us span:hover {
  text-decoration: underline;
}

.btn_footer {
  font-size: 30px;
  padding: 8px 14px;
  cursor: pointer;
  border: 2px solid #0f172a;
  box-shadow: 4px 4px 0 0 white, 6px 6px 0 0 #0f172a;
  transition-duration: 200ms;
}

.btn_footer:hover {
  background-color: #b48d5d;
  color: white;
  box-shadow: 9px 9px 0 0 white, 10px 10px 0 0 #0f172a;
  translate: -2px -2px;
}

.footer_logo {
  margin-left: 200px;
}

.footer_logo h2 {
  color: snow;
}

.footer_logo img {
  margin-top: 10px;
  width: 400px;
  height: 600px;
}

.fleche {
  width: 50px;
  height: 50px;
}

.sub_story {
  display: flex;
  margin-top: 30px;
}

.sub_story a {
  margin-top: 40px;
  margin-left: 20px;
  font-size: 30px;
  color: whitesmoke;
  line-height: 1.1em;
  text-decoration: none;
}
/*------------------------Footer-----------------------*/
